<%- include("Header") -%>

<div class="dh-prescriptions">


  <form class="add-prescription" method="post" action="/add-prescription">
    <h2>Add a prescription</h2>
    <input type="hidden" name="patientId" value="<%=patientId%>"/>
    <input name="prescriptionName" placeholder="Medication name..." required/>
    <input name="prescriptionAmount" id="prescription-amount" placeholder="(in mg)" required/>
    <select name="prescriptionTime" required>
      <option value="N/A">Select Time</option>
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="biweekly">Biweekly</option>
      <option value="monthly">Monthly</option>
      <option value="other">Other</option>
      <option value="na">N/A</option>
    </select>
    <button type="submit" class="btn btn-outline-light">Add</button>

  </form>

  <%if (prescriptionList.length == 0){%>
      <h1>No prescriptions for <%=fullName%></h1>
  <%}else{%>
      <h1>Prescriptions for <%=fullName%></h1>
      <%prescriptionList.forEach(prescriptionObject=>{%>
          <div class="dh-prescription-object">
            <h2><%=prescriptionObject.prescriptionName%></h2>
            <p>Amount: <%=prescriptionObject.prescriptionAmount%> mg</p>
            <p>Period: <%=prescriptionObject.time%></p>
            <p id="dh-prescription-added-by">Added by: <%=prescriptionObject.addedBy.lastName.toUpperCase()%>, <%=prescriptionObject.addedBy.firstName.toUpperCase()%></p>
            <form action="/remove-prescription" method="post">
              <input type="hidden" name="prescriptionId" value="<%=prescriptionObject.prescriptionId%>" />
              <input type="hidden" name="patientId" value="<%=patientId%>"/>
              <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-trash"></i> Delete</button>
            </form>
          </div>
      <%})%>
  <%}%>
</div>

<%- include("Footer") -%>
