<%- include("Header") -%>

<div class="doctor-home">
    <h1>Welcome, Doctor</h1>
    <p><%=firstName%> <%=lastName%></p>


    <div class="dh-awaiting-patients">
      <%if (awaitingPatients.length == 0){ %>
          <p>No new awaiting patients...</p>
      <%}else{%>
          <p>Awaiting patients: <%=awaitingPatients.length%></p>
          <hr />
      <%}%>
      <%awaitingPatients.forEach(e=>{%>
          <div class="dh-patient-object">
            <div class="accept-deny">
              <h2><%=e.firstName%> <%=e.lastName%></h2>
              <form method="post" action="/doctor-accept-patient">
                <input type="hidden" value="<%=e.id%>" name="id"/>
                <button type="submit" class="btn btn-outline-success">Accept</button>
              </form>
              <form method="post" action="/doctor-reject-patient">
                <input type="hidden" value="<%=e.id%>" name="id"/>
                <button type="submit" class="btn btn-outline-danger">Deny</button>
              </form>
            </div>
            <div class="information">
              <p><i class="fa-solid fa-phone"></i>: <%=e.phoneNumber%></p>
              <p><%=e.biologicalSex%></p>
              <p><%=calculateAge(e.dateOfBirth)%> Years Old</p>
            </div>
          </div>
      <%})%>
    </div>
    <hr />

    <div class="dh-patient-list">
      <%if (patientList.length == 0){%>
          <h1>No patients yet...</h1>
      <%}else{%>
          <p>Patients: <%=patientList.length%></p>
      <%}%>

      <%patientList.forEach(e=>{%>
          <div class="dh-patient-object">
              <div class="interact">
                <h2><%=e.firstName%> <%=e.lastName%></h2>
                <a href="prescriptions/<%=e._id%>"class="btn btn-outline-primary"><i class="fa-solid fa-prescription-bottle"></i> Prescriptions</a>
                <a href="labs/<%=e._id%>"class="btn btn-outline-primary"><i class="fa-solid fa-receipt"></i> Send Labs</a>
              </div>
              <div class="information">
                <p><%=e.biologicalSex%></p>
                <p><%=calculateAge(e.dateOfBirth)%> Years Old</p>
                <p><i class="fa-solid fa-phone"></i>: <%=e.phoneNumber%></p>

                <form method="post" action="/doctor-remove-patient">
                  <input type="hidden" name="patientId" value="<%=e._id%>"/>
                  <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> Remove</button>
                </form>
              </div>
          </div>
      <%})%>
    </div>

    <hr />

</div>

<%- include("Footer") -%>
