<%- include("Header") -%>

<div class="patient-home">
  <h1>Hello, Patient</h1>
  <p><%=firstName%> <%=lastName%></p>
  <hr />
  <h1>Requested Doctors</h1>
  <%if (awaitingDoctors.length == 0){%>
      <p>No doctors requested...</p>
  <%}%>
  <%awaitingDoctors.forEach(doctorObject=>{%>
    <div class="ph-doctor-object">
      <div class="awaiting-acceptance">
        <h2><%=doctorObject.firstName%> <%=doctorObject.lastName%></h2>
        <p style="color: blue;">Awaiting Acceptance...</p>
      </div>

      <div class="information">
        <p><%=doctorObject.practiceName%></p>
        <p><i class="fa-solid fa-phone"></i>: <%=doctorObject.phoneNumber%></p>
        <p>ID: <%=doctorObject._id%></p>
      </div>
    </div>
  <%})%>
  <hr />
  <h1 id="patient-your-doctors">Your doctors</h1>
  <%if (doctorsList.length == 0){%>
      <p>No doctors found...</p>
  <%}%>
  <%doctorsList.forEach(doctorObject=>{%>
      <div class="ph-doctor-object">
        <h2><%=doctorObject.firstName%> <%=doctorObject.lastName%></h2>
        <div class="information">
          <p><%=doctorObject.practiceName%></p>
          <p><i class="fa-solid fa-phone"></i>: <%=doctorObject.phoneNumber%></p>
          <p>ID: <%=doctorObject._id%></p>
        </div>
      </div>
  <%})%>
  <hr />

  <h1>Prescriptions</h1>
  <%if (prescriptionList.length == 0){%>
      <p>No prescriptions found...</p>
  <%}%>
  <div class="prescriptions">
    <%prescriptionList.forEach(prescriptionObject=>{%>
      <div class="ph-prescription-object">
          <h2><%=prescriptionObject.prescriptionName%></h2>
          <p>AMT: <%=prescriptionObject.prescriptionAmount%> mg</p>
          <p>TAKEN: <%=prescriptionObject.time%></p>
          <p>Added by: <%=prescriptionObject.addedBy.lastName.toUpperCase()%>, <%=prescriptionObject.addedBy.firstName.toUpperCase()%></p>
          <h3>Date posted: <%=prescriptionObject.date%></h3>
      </div>
    <%})%>

  </div>

  <h1>Lab Results</h1>
  <%if (labList.length == 0){ %>
      <p>No results found yet...</p>
  <%}%>

  <%labList.forEach(e=>{%>
      <div class="dh-lab-object">
          <h2>Type: <%=e.labType.toUpperCase()%></h2>
          <p>Specific: <%=e.specificLabType%></p>
          <p>Ordered by: <%=e.doctorName%></p>
          <p>DATE POSTED: <%=e.datePosted%></p>
          <img src="data:<%= e.labFile.contentType %>;base64,<%= e.labFile.data.toString('base64') %>" alt="lab-report-image" />

      </div>
  <%})%>

</div>

<%- include("Footer") -%>
