<%- include("Header") -%>

<div class="patient-home">
  <h1>Hello, Patient</h1>
  <p><%=firstName%> <%=lastName%></p>
  <hr />
  <h1>Requested Doctors</h1>
  <%if (awaitingDoctors.length == 0){%>
      <p>No doctors requested...</p>
  <%}%>
  <hr />
  <h1 id="patient-your-doctors">Your doctors</h1>
  <%if (doctorsList.length == 0){%>
      <p>No doctors found...</p>
  <%}%>
  <%doctorsList.forEach(doctorObject=>{%>
      <div class="ph-doctor-object">
        <h2><%=doctorObject.firstName%> <%=doctorObject.lastName%></h2>
        <div class="information">
          <p><%=doctorObject.practiceName%></p>
          <p><i class="fa-solid fa-phone"></i>: <%=doctorObject.phoneNumber%></p>
          <p>ID: <%=doctorObject._id%></p>
        </div>
      </div>
  <%})%>
  <hr />

  <h1>Prescriptions</h1>
  <div class="prescriptions">
    <%prescriptionList.forEach(prescriptionObject=>{%>
      <div class="ph-prescription-object">
          <h2><%=prescriptionObject.prescriptionName%></h2>
          <p>AMT: <%=prescriptionObject.prescriptionAmount%> mg</p>
          <p>TAKEN: <%=prescriptionObject.time%></p>
          <p>Added by: <%=prescriptionObject.addedBy.lastName.toUpperCase()%>, <%=prescriptionObject.addedBy.firstName.toUpperCase()%></p>
          <button type="button" class="btn btn-outline-light"><i class="fa-regular fa-calendar"></i> Add to Calendar</button>
      </div>
    <%})%>

  </div>

  <h1>Lab Results</h1>
  

</div>

<%- include("Footer") -%>
